/*================================================== * 
HTML-Elements
=====================================================*/
a.readmore:before {
	font-family: FontAwesome;
	content:"\f101";
	padding-right:2px;
}
blockquote {
    border-left: 4px solid [[setting:maincolor]];
}
blockquote footer:before, blockquote small:before, blockquote .small:before {
    content: "- ";
}
blockquote p {
    padding-left: 28px;
}
blockquote footer {
	color:#777;
}
blockquote:before {
    color: #bbb;
    content: "\f10e";
    float: left;
    font-family: FontAwesome;
    font-size: 1.5em;
    margin-right: 8px;
}
.maincolor{
    color: [[setting:maincolor]];
}
.plus {
	font-size:1.05em;
}
.wp1 {
	margin-top:15px;
}
.wp2 {
	margin-top:30px;
}
.wp3 {
	margin-top:45px;
}

/*================================================== * 
Promotion Boxes
=====================================================*/
.prom-box {
padding:10px 20px;
position:relative;
margin-bottom:15px;
}
.prom-box ul {
margin-left:55px;
list-style:square;
}
.prom-box-default h1,.prom-box-default h2,.prom-box-default h3 {
margin-top:0;
color:#666;
}
.prom-box-default {
background-color:#f4f4f4;
border-left:6px solid [[setting:maincolor]];
}
.prom-box-warning h1,.prom-box-warning h2,.prom-box-warning h3 {
margin-top:0;
color:#F0AD4E;
}
.prom-box-warning {
background-color:#FCF8F2;
border-left:6px solid #F0AD4E;
}
.prom-box-danger h1,.prom-box-danger h2,.prom-box-danger h3 {
margin-top:0;
color:#D9534F;
}
.prom-box-danger {
background-color:#FDF7F7;
border-left:6px solid #D9534F;
}
.prom-box-info h1,.prom-box-info h2,.prom-box-info h3 {
margin-top:0;
color:#5BC0DE;
}
.prom-box-info {
background-color:#F4F8FA;
border-left:6px solid #5BC0DE;
}

/*================================================== * 
shadows
=====================================================*/
.shadow1{
	-webkit-box-shadow: 0 10px 6px -6px #aaa;
	-moz-box-shadow: 0 10px 6px -6px #aaa;
	box-shadow: 0 10px 6px -6px #aaa;
}
.shadow2:after {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url([[pix:theme|bg/shadow]]);
    background-origin: padding-box;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}

/* =========================================================== *
Image caption with hover effect
============================================================== */

.caption-hover {
    background: #FFFFFF;
    border: none;
    box-shadow: 3px 3px 2px #ddd;
    cursor: default;
    float: left;
    height: 150px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.caption-hover .mask {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
	line-height: 1.5em;
	width:100%;
}
.caption-hover img {
    display: block;
    position: relative;
	height: 110px !important;
    width: 240px !important;
	margin: 0 !important;
}
.caption-hover h2 {
    color: #FFFFFF;
    font-size: 1.15em;
    margin: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.caption-hover p {
    color: #FFFFFF;
    padding: 0 10px;
	margin:0 0 10px;
    position: relative;
    text-align: center;
}
.caption-hover a.info {
    background: #333;
	border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    padding: 7px 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.caption-hover .mask {
	margin:110px 0;
    transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
.caption-hover:hover .mask {
    margin:0;
}
.green {
	background-color:#8EC63F;
}
.purple {
	background-color:#92499E;
}
.orange {
	background-color:#F1592A;
}
.lightblue {
	background-color:#38B9EC;
}
.yellow {
	background-color:#fdb53f;
}
.turquoise {
	background-color:#29A294;
}

/* =========================================================== *
iconbox 
============================================================== */
.iconbox-end {
	clear:both;
	margin-bottom:10px;
}
.iconbox {
    float: left;
    padding: 0 10px;
	text-align: center;
	margin-bottom: 25px;
}
.iconbox .iconcircle {
	border: 1px solid [[setting:maincolor]];
    border-radius: 50%;
    height: 80px;
    line-height: 100px;
    margin: 0 auto;
    width: 80px;
	transition: all 0.7s;
}
.iconbox:hover > .iconcircle {
	border: 1px solid #fff;
	background: [[setting:maincolor]];
	transition: all 0.7s;
}
.iconbox .iconcircle .fa {
	color: [[setting:maincolor]];
	font-size:3em;
	transition: all 0.7s;
}
.iconbox:hover > .iconcircle > .fa {
	color: #fff;
	transition: all 0.7s;
}
.iconbox .iconbox-content {
	text-align: center;
}

/* =========================================================== *
text-box 
============================================================== */
.text-box {
	background:#f4f4f4;
	padding:15px;
}
.text-box-heading {
	font-size: 2em;
	padding: 10px 12px;
	background:[[setting:def_buttoncolor]];
	color:#fff;
}
.text-box .arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid [[setting:def_buttoncolor]];
	font-size: 0;
	line-height: 0;
	margin-left:7%;
}
.text-box-headindg:after { 
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(15, 213, 28, 0); 
	border-top-color: #0fd51c;
	border-width: 15px;
	margin-left: -15px;
}

/* =========================================================== *
image-box 
============================================================== */
.image-box {
    border: 1px solid #eee;
    margin-bottom: 20px;
}
.image-box img {
    margin:0;
	padding:0;
	border:none;
}
.image-box .image-box-content {
    padding: 15px;
}

/* =========================================================== *
Numbers 
============================================================== */
.blocknumber_box {
    padding-bottom: 25px;
	text-align: left;
}
.blocknumber_box h1, .blocknumber_box h2, .blocknumber_box h3, .blocknumber_box h4, .blocknumber_box h5, .blocknumber_box h6 {
    margin-top:0;
}
.blocknumber_box .blocknumber_icon {
    background: none repeat scroll 0 0 [[setting:maincolor]];
    border-radius: 50%;
    color: [[setting:menufirstlevel_linkcolor]];
    float: left;
    font-size: 20px;
    height: 32px;
    line-height: 32px;
    margin-right: 20px;
    text-align: center;
    width: 32px;
}
.blocknumber_box .blocknumber_content {
    overflow: hidden;
    padding-top: 4px;
}

/* =========================================================== *
Headlines
============================================================== */
.headline {
	border: medium none;
	margin-bottom: 10px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
	font-weight:bold;
    padding: 8px;
}
.headline-v1 {
	background:  #f4f4f4;
}
.headline-v2 {
	background:  [[setting:maincolor]];
}
.headline-v3 {
	background: [[setting:menufirstlevelcolor]];;
}
.headline .fa {
    font-size: 1.25em;
    margin: -8px 8px 0 -8px;
    padding: 10px;
}
.headline-v1 .fa {
    background: none repeat scroll 0 0 [[setting:maincolor]];
    color: [[setting:menufirstlevel_linkcolor]];
}
.headline-v2 .fa {
    background: none repeat scroll 0 0 [[setting:mainhovercolor]];
    color: [[setting:menufirstlevel_linkcolor]];
}
.headline-v3 .fa {
    background: none repeat scroll 0 0 [[setting:maincolor]];
    color: [[setting:menufirstlevel_linkcolor]];
}
.content h3.sectionname {
    padding: 8px 0;
	background:  #f4f4f4;
	color:#666;
    border-color: #EEEEEE #EEEEEE #EEEEEE [[setting:maincolor]];
    border-style: solid;
    border-width: 1px 1px 1px 3px;
	padding-left: 4px;
	margin-top:0;
}
.course-content .single-section .section-navigation .title {
    clear: both;
	font-size: 1.2em;
	font-family: "[[setting:headingfont]]";
    line-height: 1.2em;
    padding: 8px 0;
	margin-bottom: 10px;
	background: [[setting:maincolor]];
    border: medium none;
    color: [[setting:menufirstlevel_linkcolor]];
	padding-left: 2px;
	font-weight:normal;
}
#section-0 .content > h3.sectionname {
    border-bottom: 2px solid [[setting:maincolor]];
    border-left: none;
    border-top: 1px solid #e1e1e1;
    font-size: 1.75em;
    margin-bottom: 20px;
    line-height: 25px;
    box-shadow: inset 0 1px 0 rgba(256, 256, 256, 0.35);
}
.course-pano.wrapper {
    height: 175px;
    overflow: hidden;
    position: relative; 
    background: #f4f4f4;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}
.course-pano.title {
    height: 135px;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}
.course-pano.title h2 {
	margin-top:20px;
	margin-bottom:25px;
	color:#fff !important;
}
.course-pano.title h2 > span {
	background: [[setting:maincolor]];
	padding:4px 8px;
}
.course-pano.title h4 {
	color:#fff !important;
	margin-left:15px;
}
.course-pano.title h4 > span {
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	border-left:4px solid [[setting:maincolor]];
	padding:8px;
	display: inline-block;
    font-size: 16px;
}
.course-pano > img {
    display: block;
    height: 100%;
    object-fit: cover;
    overflow: hidden !important;
    width: 100vw;
    margin: 0 !important;
}

/* =========================================================== *
Spotlight
============================================================== */
.spotlight {
	padding:10px;
	font-size: 1.1em;
	margin: 25px 0;
	position:relative;
}
.spotlight-v1 {
	background: none repeat scroll 0 0 [[setting:maincolor]];
}
.spotlight-v1 h1, .spotlight-v1 h2, .spotlight-v1 h3, .spotlight-v1 h4, .spotlight-v1 h5, .spotlight-v1 h6, spotlight-v1 p {
    color:[[setting:menufirstlevel_linkcolor]];
}
.spotlight-v1.spotlight-full {
    padding-top:15px;
    padding-bottom:15px;
}
.spotlight-v1 .btn-primary {
    border: 1px solid #fff;
    text-decoration: none;
    text-shadow: 1px 0 1px #333;
	box-shadow: 1px 1px 1px #999;
}
.spotlight-v2 {
	background: none repeat scroll 0 0 #f8f8f8;
    border-bottom: 2px solid [[setting:maincolor]];
    border-top: 1px solid #e1e1e1;
    color: #333;
}
.spotlight-v2.shadow2:after {
	margin-top: 2px;
}
.spotlight-v3 {
    background-attachment: fixed;
    background-color: #323a45;
    background-image: url([[pix:theme|bg/spotlight-3-bg]]);
    background-size: cover;
	color: #fff;
}
.spotlight-v3 h1, .spotlight-v3 h2, .spotlight-v3 h3, .spotlight-v3 h4, .spotlight-v3 h5, .spotlight-v3 h6, spotlight-v3 p {
    color: #fff;
}
.spotlight-v3 a {
	color:[[setting:maincolor]];
}
.spotlight-v3 a:hover {
	color:[[setting:mainhovercolor]];
}
.spotlight-full {
    margin-left:-23px;
	margin-right:-23px;
	margin-top:25px;
    padding: 30px;	
}
.spotlight-v1.arrow-top {
    border-top: 1px solid [[setting:mainhovercolor]];
}
.spotlight-v1.arrow-top:before {
	background-color: [[setting:maincolor]];
    border-top: 1px solid [[setting:mainhovercolor]];
    border-left: 1px solid [[setting:mainhovercolor]];
    top: -15px;
    content: "";
    height: 30px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    transform: rotate(45deg);
    width: 30px;
}
.spotlight-v1.arrow-bottom {
    border-bottom: 1px solid [[setting:mainhovercolor]];
}
.spotlight-v1.arrow-bottom:after {
	background-color: [[setting:maincolor]];
    border-bottom: 1px solid [[setting:mainhovercolor]];
    border-right: 1px solid [[setting:mainhovercolor]];
    bottom: -15px;
    content: "";
    height: 30px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    transform: rotate(45deg);
    width: 30px;
}
@media(max-width:767px){
.spotlight-full {margin-left: -13px;margin-right: -13px;padding: 0 30px;}
}

/* =========================================================== *
Buttons & Bootstrap Buttons
============================================================== */

button, .btn, .btn-default, btn-success, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input.form-submit, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .submit.buttons input[name="cancel"], #notice .singlebutton + .singlebutton input  {
    background-image:none;
	background-color: [[setting:def_buttoncolor]];
    color: #fff !important;
	border: none;
    border-radius: 2px;
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.34);
    text-shadow: none;
	padding:6px 18px;
}
button a, .btn a {
	color:#fff;
}
button:hover, button:focus, button:active, .btn:hover, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-success:hover, .btn-success:focus, .btn-success:active, .open .dropdown-toggle.btn-default , input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:focus, input.form-submit:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, button.active, input.form-submit.active, input.active[type="button"], input.active[type="submit"], input.active[type="reset"], button:active, input.form-submit:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, input.form-submit:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, input.form-submit:focus, input#id_submitbutton:focus, input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, td.submit input:focus, input.form-submit:active, input#id_submitbutton:active, input#id_submitbutton2:active, .path-admin .buttons input[type="submit"]:active, td.submit input:active, input.form-submit.active, input#id_submitbutton.active, input#id_submitbutton2.active, .path-admin .buttons input.active[type="submit"], td.submit input.active, input.form-submit.disabled, input#id_submitbutton.disabled, input#id_submitbutton2.disabled, .path-admin .buttons input.disabled[type="submit"], td.submit input.disabled, input.form-submit[disabled], input#id_submitbutton[disabled], input#id_submitbutton2[disabled], .path-admin .buttons input[type="submit"][disabled], td.submit input[disabled], #notice .singlebutton + .singlebutton input:hover  {
    background-color: [[setting:def_buttonhovercolor]];
    color: #fff;
	transition: all 0.3s ease 0.1s;
}
.btn-primary {
    background-color: [[setting:maincolor]];
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: [[setting:mainhovercolor]] !important;
	transition: all 0.3s ease 0.1s;
}
.btn-info {
    background-color: #38B9EC !important;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #29A7D8 !important;
	transition: all 0.3s ease 0.1s;
}
.btn-warning {
    background-color: #FFD50E !important;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #EDC202 !important;
	transition: all 0.3s ease 0.1s;
}
.btn-danger, .btn-cancel, .submit.buttons input[name="cancel"], #notice .singlebutton + .singlebutton input  {
    background-color: #c23a34 !important;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active, .submit.buttons input[name="cancel"]:hover, .submit.buttons input[name="cancel"]:focus, .submit.buttons input[name="cancel"]:active, #notice .singlebutton + .singlebutton input:hover, #notice .singlebutton + .singlebutton input:focus, #notice .singlebutton + .singlebutton input:active {
    background-color: #b82d27 !important;
	transition: all 0.3s ease 0.1s;
}

/* =========================================================== *
Lists
============================================================== */
ul.list-style-1 li, ul.list-style-2 li, ul.list-style-3 li {
    list-style: none outside none;
}
ul.list-style-1 li:before {
    font-family: FontAwesome;
	content: "\f061";
    display: inline-block;
    margin: 0 0 0 -18px;
    padding-right: 6px;
}
ul.list-style-2 li:before {
    font-family: FontAwesome;
	content: "\f00c";
    display: inline-block;
    margin: 0 0 0 -18px;
    padding-right: 6px;
}
ul.list-style-3 li:before {
    font-family: FontAwesome;
	content: "\f138";
    display: inline-block;
    margin: 0 0 0 -18px;
    padding-right: 6px;
}
ul.list-style-1.colored li:before, ul.list-style-2.colored li:before, ul.list-style-3.colored li:before {
	color:[[setting:maincolor]];
}
/* =========================================================== *
Greybox
============================================================== */
table#greyboxright {
    background: #F9F9F9;
    border: 1px solid #EEE;
    border-bottom: 3px solid #EEE;
    margin-left: 20px;
    float: right;
}
table#greybox {
    background: #F9F9F9;
    border: 1px solid #EEE;
    border-bottom: 3px solid #EEE;
    margin-top: 30px;
}
table#greyboxleft {
    background: #F9F9F9;
    border: 1px solid #EEE;
    border-bottom: 3px solid #EEE;
    margin-right: 20px;
    float: left;
}
table#greyboxright td,
table#greyboxleft td {
    padding: 10px;
    padding-top: 0px;
    max-width: 360px;
}
table#greybox td{
    padding: 20px;
}
table#greyboxright h2,
table#greyboxleft h2 {
    border-bottom: 1px solid #EEE;
    padding-bottom: 8px;
    font-size: 1.2em;
    line-height: 17px;
}

/*================================================== * 
Courses & Categories
=====================================================*/
.course-summary-heading {
	background: [[setting:menufirstlevelcolor]];
	color: [[setting:menufirstlevel_linkcolor]];
	padding: 2px;
	margin-bottom: 10px;
}

/*================================================== * 
Bootstrap
=====================================================*/
.bs-example {
    background-color: #fff;
    border-color: #ddd;
    border-radius: 2px 2px 0 0;
    border-width: 1px;
	border-style: solid;
    box-shadow: none;
    margin: 0 0 15px;
    padding: 45px 15px 15px;
    position: relative;
}
.bs-example:after {
	background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 4px 0;
    color: #959595;
    content: "Example";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.bs-example + pre {
	margin: -16px 0 15px;
	border-radius: 0 0 2px 2px;
}
.bs-example table {
	margin-bottom:0;
}
.nt {
    color: #d44950;
}
.s {
    color: #2f6f9f;
}
.na {
	color:#333;
}
.text-muted {
	color:#999;
}
.text-danger {
	color:#c23a34;
}
.label-danger, .badge-danger {
    background-color: #c23a34;
}
.show-grid [class*="span"] {
    background-color: #eee;
    border-radius: 3px;
    line-height: 40px;
    min-height: 40px;
    text-align: center;
}
.show-grid {
    margin-bottom: 20px;
    margin-top: 10px;
}
.panel {
	border-radius: 0;
}
.panel .panel-heading a {
	font-size: 1.15em;
    line-height: 2em;
}
.panel .panel-heading a:before {
    background: [[setting:maincolor]];
	color: [[setting:menufirstlevel_linkcolor]];
    content: "\f107";
    float: left;
    font-family: 'FontAwesome';
    font-size: 1.2em;
    margin: -1px 5px 0 -8px;
    padding: 1px;
    text-align: center;
    width: 33px;
}
.panel .panel-heading a.collapsed:before {
    content: "\f105";
}
.nav-tabs > li.active {
    border-bottom: 1px solid #fff;
    border-top: 2px solid [[setting:maincolor]];
    margin-bottom: -1px;
    margin-top: -2px;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    background-color: #fff;
    color: #555;
    cursor: default;
    border-radius: 0;
    border: medium none;
}
.nav-tabs > li {
    margin-bottom: 0;
}
.nav-tabs > li > a {
    border: medium none;
	background-color:#f4f4f4;
	color:#555;
}
.nav-tabs > li > a:hover {
    background-color: #e2e2e2;
}
.nav-tabs > li > a, .nav-pills > li > a {
    margin-right: 0;
}
.nav-tabs {
    background: none repeat scroll 0 0 #f4f4f4;
    border-top: 2px solid #ccc;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-bottom:none;
	margin-bottom:0;
}
.tab-content {
	border:1px solid #dfdfdf;
	padding:8px;
}
tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
    background-color: #f2dede;
}
tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}
tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
    background-color: #d9edf7;
}
tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
    background-color: #dff0d8;
}
tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
    background-color: #f5f5f5;
}